@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>Hungry? You're in the right place</h1>
            <form action="" method="get" class="form-inline text-center">
                <input class="form-control col-9" placeholder="Search Restaurants..." />
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
</header>
